**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/*.user
**/*.suo
**/*.cache
**/bin
**/obj
**/node_modules
**/.dockerignore
**/Dockerfile
**/README.md
**/DEPLOY.md
**/*.md
**/.env
**/.env.local
**/Tests.Unit
**/*.Tests.csproj

